<!DOCTYPE html>
<html>
<head>
	<link href="/assets/style.css" rel="stylesheet" />
</head>
<body>
	{% include "ps-header.njk" %}
	{% include "ps-main.njk" %}

	{% block dialog %}{% endblock %}
</body>
</html>
