<!DOCTYPE html>
<html>
<head>
	<link href="/assets/style.css" rel="stylesheet" />
</head>
<body>
	<ps-header>
		{% include "ps-logo.njk" %}
	</ps-header>

	{% include "ps-main.njk" %}
</body>
</html>
