<dialog open class="confirm">
  <cover-l centered="[primary-element]" minHeight="100%" noPad=true space=0>
    <header>
      <box-l padding="var(--s-xs)" borderWidth=0>
        <grid-with-sidebars-l>
          <h3>Confirm</h3>

          <form method="get" action="/">
            <button type="submit">
              <span>Close</span>
            </button>
          </form>
        </grid-with-sidebars-l>
      </box-l>
    </header>

    <box-l primary-element borderWidth=0>
      <p>Do you really want to delete <i><%= it.task.title %><i></p>
    </box-l>

    <footer>
      <box-l padding="var(--s-xs)" borderWidth=0>
        <form id="updateForm" method="post" action="<%= it.task.actions.update %>">
          <cluster-l align=center justify=end>
          <button type="submit" formmethod="get" formaction="/view/<%= it.task.filePath %>">Cancel</button>
          <button type="submit" formaction="/delete/<%= it.task.filePath %>">Delete</button>
          </cluster-l>
        </form>
      </box-l>
    </footer>
  </cover-l>
</dialog>
