<dialog open>
  <dialog-wrapper>
    <header>
      <% if (it.task.filePath) { %>
        <h3><%= it.task.title %></h3>
      <% } else { %>
        <fieldset>
          <label for="name">New task name</label>

          <input type="text" name="name" id="name" form="updateForm" placeholder="My task to be done">
        </fieldset>
      <% } %>

      <form method="get" action="/">
        <button type="submit">Close</button>
      </form>
    </header>

    <dialog-main>
      <textarea name="content" id="content" form="updateForm"><%= it.task.rawContents %></textarea>
    </dialog-main>

    <% if (it.task.priority || it.task.tags.length) { %>
    <dialog-details>
      <% if (it.task.priority) { %>
        <task-priority>
          Priority <%= it.task.priority %>
        </task-priority>
      <% } %>

        <% if (it.task.tags.length > 0) { %>
        <task-tags>
          <% it.task.tags.forEach(tag => { %>
            <task-tag><%= tag %></task-tag>
          <% }) %>
        </task-tags>
        <% } %>
    </dialog-details>
    <% } %>

    <footer>
      <form id="updateForm" method="post" action="<%= it.task.actions.update %>">
        <select aria-label="lane" id="lane" name="lane">
          <% it.lanes.forEach(lane => { %>
          <option value="<%= lane[0] %>" <% if (it.task.lane === lane[0]) { %>selected<% } %>>
            <%= lane[1] %>
          </option>
          <% }) %>
        </select>

          <button-group>
            <button type="submit">Save</button>

            <details class="dropdown">
              <summary></summary>

              <div>
                <button type="submit" formmethod="get" formaction="/delete/<%= it.task.filePath %>">Delete</button>
                <button type="submit" formmethod="get" formaction="/archive/<%= it.task.filePath %>">Archive</button>
              </div>
            </details>
          </button-group>
        </form>
    </footer>
  </dialog-wrapper>
</dialog>
