<dialog open>
  <dialog-wrapper>
    <header>
      <% if (it.task.filePath) { %>
        <h3><%= it.task.title %></h3>
      <% } else { %>
        <fieldset>
          <label for="name">New task name</label>

          <input type="text" name="name" id="name" form="updateForm" placeholder="My task to be done">
        </fieldset>
      <% } %>

      <form method="get" action="/">
        <button type="submit">Close</button>
      </form>
    </header>

    <dialog-main>
      <textarea name="content" id="content" form="updateForm"><%= it.task.rawContents %></textarea>
    </dialog-main>

    <% if (it.task.priority || it.task.tags.length) { %>
    <dialog-details>
      <% if (it.task.priority) { %>
        <task-priority>
          Priority <%= it.task.priority %>
        </task-priority>
      <% } %>

        <% if (it.task.tags.length > 0) { %>
        <task-tags>
          <% it.task.tags.forEach(tag => { %>
            <task-tag><%= tag %></task-tag>
          <% }) %>
        </task-tags>
        <% } %>
    </dialog-details>
    <% } %>

    <footer>
      <form id="updateForm" method="<%= it.task.actions.update.method %>" action="<%= it.task.actions.update.action %>">
        <select aria-label="lane" id="lane" name="lane">
          <% it.taskLanes.forEach(lane => { %>
          <option value="<%= lane.slug %>" <% if (it.task.lane === lane.slug) { %>selected<% } %>>
            <%= lane.name %>
          </option>
          <% }) %>
        </select>

          <button-group>
            <button type="submit"><%= it.task.actions.update.label %></button>

            <% if (it.task.actions.delete || it.task.actions.archive) { %>
              <details class="dropdown">
                <summary></summary>

                <div>
                  <% if (it.task.actions.delete) { %>
                  <button type="submit" formmethod="<%= it.task.actions.delete.method %>" formaction="<%= it.task.actions.delete.action %>"><%= it.task.actions.delete.label %></button>
                  <% } %>
                  <% if (it.task.actions.archive) { %>
                    <button type="submit" formmethod="<%= it.task.actions.archive.method %>" formaction="<%= it.task.actions.archive.action %>"><%= it.task.actions.archive.label %></button>
                  <% } %>
                </div>
              </details>
            <% } %>
          </button-group>
        </form>
    </footer>
  </dialog-wrapper>
</dialog>
