  <dialog open>
    <cover-l centered="[primary-element]" minHeight="100%" noPad=true space=0>
      <header>
        <box-l padding="var(--s-xs)" borderWidth=0>
          <grid-with-sidebars-l>
            <% if (it.task.filePath) { %>
              <h3><%= it.task.filePath %></h3>
            <% } else { %>
              <input type="text" name="name" id="name" form="updateForm">
            <% } %>

            <form method="get" action="/">
              <button type="submit">
                <span>Close</span>
              </button>
            </form>
          </grid-with-sidebars-l>
        </box-l>
      </header>

      <box-l primary-element padding="var(--s-xs)" borderWidth=0>
        <!--<div><%~ it.task.content %></div>-->
        <textarea name="content" id="content" form="updateForm"><%= it.task.rawContents %></textarea>
      </box-l>

      <footer>
        <box-l padding="var(--s-xs)" borderWidth=0>
          <cluster-l align=center justify="space-between" role="list">
            <% if (it.task.priority) { %>
              <box-l padding="var(--s-3xs)" role="listitem">Priority <%= it.task.priority %></box-l>
            <% } %>

            <% if (it.task.tags.length > 0) { %>
              <cluster-l align=center role="list">
                <% it.task.tags.forEach(tag => { %>
                  <box-l padding="var(--s-3xs)" role="listitem"><%= tag %></box-l>
                <% }) %>
              </cluster-l>
            <% } %>
          </cluster-l>
        </box-l>

        <box-l padding="var(--s-xs)" borderWidth=0>
          <form id="updateForm" method="post" action="<%= it.task.actions.update %>">
            <sidebar-l side=right>
              <select aria-label="lane" id="lane" name="lane">
                <% it.lanes.forEach(lane => { %>
                <option value="<%= lane[0] %>" <% if (it.task.lane === lane[0]) { %>selected<% } %>>
                <%= lane[1] %>
                </option>
                <% }) %>
              </select>

              <button type="submit">Save</button>
            </sidebar-l>
          </form>
        </box-l>
      </footer>
    </cover-l>
  </dialog>
