<!doctype html>
<html lang="en">
	<head>
    <meta charset="utf-8" >
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="dark light">

    <title><%= it.page.title %></title>

    <link rel="manifest" href="/manifest.json">
    <script type="module">
      if ('serviceWorker' in navigator) {
        try {
          const registration = await navigator.serviceWorker.register('/assets/sw.js')
          console.log('Service worker registered successfully');
        } catch (err) {
          console.error('Error during service worker registration:', e);
        }
      }
    </script>

    <link rel="stylesheet" href="/assets/variables.css">
    <link rel="stylesheet" href="/assets/reset.css">
    <link rel="stylesheet" href="/assets/global.css">
    <link rel="stylesheet" href="/assets/layouts.css">
    <script type="module" src="/assets/layouts.js"></script>
    <script type="module" src="/assets/dialog.js"></script>
  </head>
	<body>
    <stack-l style="max-height: 100dvh;">
      <header>
        <box-l padding="var(--s-xs)">
          <cluster-l align="center" justify="space-between">
            <h1>ProjectSpy</h1>

            <%~ include('new-task.html', it) %>
          </cluster-l>
        </box-l>
      </header>

      <%~ it.body %>
    </stack-l>

    <% if (it.confirmDialog) { %>
    <%~ include('confirm-dialog.html', it) %>
    <% } %>
	</body>
</html>
