<!doctype html>
<html lang="en">
	<head>
    <meta charset="utf-8" >
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="dark light">

    <title><%= it.page.title %></title>

    <link rel="manifest" href="/manifest.json">
    <script type="module">
      if ('serviceWorker' in navigator) {
        try {
          const registration = await navigator.serviceWorker.register('/assets/sw.js')
        } catch (err) {
          console.error('Error during service worker registration:', e);
        }
      }
    </script>

    <link rel="stylesheet" href="/assets/variables.css">
    <link rel="stylesheet" href="/assets/reset.css">
    <link rel="stylesheet" href="/assets/global.css">
    <link rel="stylesheet" href="/assets/layouts.css">
    <script type="module" src="/assets/layouts.js"></script>
    <script type="module" src="/assets/dialog.js"></script>
  </head>
	<body>
    <stack-l style="max-height: 100dvh;">
      <header style="padding: var(--s-s);">
        <cluster-l align="center" justify="center">
          <h1>ProjectSpy</h1>

          <!--<%~ include('new-task.html', it) %>-->
        </cluster-l>
      </header>

      <%~ it.body %>
    </stack-l>


    <% if (it.viewDialog) { %>
    <%~ include('dialog.html', it) %>
    <% } %>

    <% if (it.confirmDeleteDialog) { %>
    <%~ include('confirm-delete-dialog.html', it) %>
    <% } %>

    <% if (it.confirmArchiveDialog) { %>
    <%~ include('confirm-archive-dialog.html', it) %>
    <% } %>
	</body>
</html>
