<style>
ps-filetree {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-25);

	details {
		div {
			margin-inline-start: var(--spacing-100);
		}
	}

	summary,
	.block-title {
		margin: 0;
		cursor: pointer;
		padding: var(--spacing-100) var(--spacing-100);
		margin-inline: calc(var(--spacing-100) * -1);
		border-radius: var(--radius-50);
		font-size: var(--font-size-90);
		font-weight: var(--font-weight-bold);
		color: var(--color-gray-500);
	}

	a {
		display: flex;
		padding: var(--spacing-100) var(--spacing-100);
		margin-inline: calc(var(--spacing-100) * -1);
		text-decoration: none;
		border-radius: var(--radius-50);
		transition: background-color 0.2s;
		color: var(--color-gray-600);
		font-weight: var(--font-weight-bold);

		&:hover {
			background-color: var(--color-gray-200);
		}
	}
}
</style>

<ps-filetree>
	{% macro menuItem(item) %}
		{% if item.children.length %}
			<details open>
				<summary>{{ item.name }}</summary>

				<div>
					{% for item in item.children %}
						{{ menuItem(item) }}
					{% endfor %}
				</div>
			</details>
		{% else %}
			<a href="#---not-implemented---/">{{ item.name }}</a>
		{% endif %}
	{% endmacro %}

	<h2 class="block-title">Tasks</h2>

	{% for item in fileTree %}
		{{ menuItem(item) }}
	{% endfor %}
</ps-filetree>
