<style>
ps-main {
	display: flex;
	box-shadow: 0 0px 0 1px var(--color-gray-200);
	padding: var(--spacing-150);
}

.container {
	display: flex;
	flex-direction: column;
	border: 1px solid var(--color-gray-200);
	border-radius: var(--radius-100);
	flex: 1;
}

</style>

<ps-main>
	<div class="container">

	</div>
</ps-main>
