<div class="task-lane" style="height: 100%;">
  <cover-l centered="[prime-element]" space="0" noPad style="min-width: 350px; min-height: revert;  height: 100%;">
    <box-l padding="var(--s-xs)">
      <cluster-l align="center" justify="space-between">
        <h2><%= it.taskLane.name %></h2>

        <%~ include('new-task.html', { ...it, lane: it.taskLane.name }) %>
      </cluster-l>
    </box-l>

    <stack-l space="var(--s-xs)" prime-element style="height: 100%; overflow-y: scroll;">
      <% it.taskLane.tasks.forEach(function(task) { %>
        <%~ include('./task.html', { task }) %>
      <% }) %>
    </stack-l>
  </cover-l>
</div>
