<box-l padding="var(--s-xs)" class="task" id="<%= it.task.id %>">
  <stack-l space="var(--s-xs)">
    <header>
      <h3><%= it.task.title %></h3>
    </header>

    <div>
      <%~ it.task.descriptionHTML %>

      <% it.task.tags.forEach(function(tag) { %>
        <span><%= tag %></span>
      <% }) %>
    </div>

    <footer>
      <% Object.entries(it.task.actions).forEach(function([label, value]) { %>
        <a href="<%= value %>"><%= label %></a>
      <% }) %>
    </footer>
  </stack-l>
</box-l>
